*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: paleturquoise;
    height: 50px;
}
.header .header-left{
    vertical-align: middle;
    height: 50px;
    float: left;
    line-height: 50px;
    width: 30%;
    min-width: 350px;
}
.header .header-left .header-left-img{
    float: left;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 75%;
    position: relative;
    transform: translateY(-50%);
    top:50%;
    margin-left: 10%;
}
.header .header-left h1{
    font-size: 25px;
    float: left;
}
.header-right{
    vertical-align: middle;
    height: 50px;
    float: right;
    line-height: 50px;
    width: 30%;
    min-width: 350px;
    margin-right: 3%;
}
.header-right .header-right-list ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
.header-right .header-right-list li{
    float: right;
    margin-right: 10px;
}
.header-right .header-right-list a{
    text-decoration:none;
}
.content{
    height: 2500px;
}

.content .content-rockTop{

    position: relative;
    width: 1500px;
    height: 600px;
    margin: 50px auto;
    overflow: hidden;



     background-color: papayawhip;
    position: relative;
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden; 
 } 

.content .content-rockTop #content-rockTop-imgslist{
    width: 1500px;
    height:600px;
}
.content .content-rockTop #content-rockTop-imgslist li{
    width: 1500px;
    height: 600px;
}
.content .content-rockTop #content-rockTop-imgslist li img{
    width: 1500px;
    height: 600px;
    display: block;
    float: left;
}
.content .content-rockTop span{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 40px;
}
.content .content-rockTop #left {
    left: 0px;
  }
  
  .content .content-rockTop #right {
    right: 0px;
  }
  
  .content .content-rockTop ol {
    position: absolute;
    bottom: 20px;
    left: 30px;
  }
  
  .content .content-rockTop ol li {
    width: 20px;
    height: 20px;
    background: yellow;
    font-size: 15px;
    line-height: 20px;
    float: left;
    margin: 0px 3px;
    text-align: center;
  }
  
.content .content-rockTop ol .active {
    background: #fff;
    color: red;
  } 

 .content-rockTop img{ 
    width: 1200px;
    height: auto; 
 } 

/*
+----------------------------------------------------------------+
	Slideshow
+----------------------------------------------------------------+
*/

.slider {
    margin: 0 -150px;
    width: 1500px;
}
.slider-container {
	height: 600px;
	margin: 0 auto 1px;
	overflow: hidden;
	position: relative;
    width: 1500px;
}
.slider-container .slider-wrapper {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 5000em; /*Fix for prevent display errors*/
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.slider-container .slide {
	float: left;
	height: 600px;
	overflow: hidden;
	position: relative;
	width: 1500px;
}
.slider-nav {
	text-align: center;
	width: 1500px;
}
.slider-nav li {
	display: inline;
	padding: 3px;
}
.slider-nav .bullet {
	background-color: #59baa8;
	border-radius: 50%;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 16px;
	width: 16px;
}
.slider-nav .active {
	background-color: #e7433b
}
.slider-nav .prev, .slider-nav .next {
	background: url('Resource/img/sprite.png') no-repeat;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 16px;
	width: 16px;
}
.slider-nav .next {
	background-position: -15px top
}
.slider img{
    width: 1500px;
    height: 600px;
    display: block;
    float: left;

}










.content .content-top{
    min-height:300px;   
}
.content .content-top .content-top-title{
    padding-top: 10px;
    text-align: center;
}
.content .content-top .content-top-title ul{
    list-style-type: none;
}
.content .content-top .content-top-title a{
    text-decoration: none;
}
.content .content-top .content-top-title li{
    float: right;
    width: 25%;
}
.content-main{
    height: 1800px;
}
.content-main #content-main-top{
    text-align: center;
    padding-top:10px ;
}
.content-main .content-main-left{
    float: left;
    width: 50%;
    height: 1500px;
    margin-top: 10px;;
}
.content-main .content-main-right{
    float: right;
    width: 50%;
    height: 1500px;
    margin-top: 10px;
}
.content-main .content-main-box{
    width: 600px;
    height: 600px;
}
.content-main .content-main-img img{
    max-width: 600px;
    height: 600px;
}
.contente-main-text{
    position: relative;
}
.contente-main-text .contente-main-text-top p{
    padding: 50px;
}
.contente-main-text h1{
    text-align: center;
}
.contente-main-text-top{
    position: absolute;
    top: 0;
}
.contente-main-text-buttom{
    padding:-50px 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.contente-main-text-buttom p{
    padding: 5px 50px;
    padding-top: 5px;
}
.contente-main-text-buttom hr{
    color: white;
    width: 250px;
    margin: 0 auto;
    margin-bottom:5px;
}
